[Unit]
Description=K3s and k9s Setup Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/k3s-setup.sh
Restart=on-failure
User=root
Environment="HOME=/root"

[Install]
WantedBy=multi-user.target